<!--{{ if .Params.enableComments }}
<script src="https://utteranc.es/client.js"
        repo="yfralam/yfralam.github.io"
        issue-term="pathname"
        label="comments"
        theme="preferred-color-scheme"
        crossorigin="anonymous"
        async>
</script>
{{ end }}
-->

{{ if .Params.enableComments }}

<div class="comments-hint">
  💡 You can write LaTeX in comments, e.g. <code>\n $$1+2=3$$ \n </code> (display must be seperated by two empty lines) or just a single $ for inline.
</div>

<script src="https://giscus.app/client.js"
        data-repo="yfralam/yfralam.github.io"
        data-repo-id="R_kgDOMX5CGw"
        data-category-id="DIC_kwDOMX5CG84C2Hwq"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="catppuccin_latte"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
{{ end }}

